@{
    ViewBag.Title = "Contact";
}
<h2>Index</h2>

<p>

</p>
<table id="Appuser" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                hggh
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>
                fdsdfsd
            </td>
            <td>
                fsdfsdfsdffsdfsfsdsfdfsdfsdfsdf
            </td>
        </tr>
        <tr>
            <td>
                fsfsfsdfsdfsf
            </td>
            <td>
                fsdfsdsfdsfdfsdfsdfdsfsdf
            </td>
        </tr>
        <tr>
            <td>
                hgfhdhhgd
            </td>
            <td>
                dhdhhhdgdgdhghgd
            </td>
        </tr>
    </tbody>

</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Appuser").DataTable();
        })
    </script>
}